p {
  margin-top: 20px;
  font-family: Calibri;
  font-size: 0.95em;
  line-height: 1.4em;
}

blockquote {
  font-family: Calibri;
  font-size: 0.95em;
  line-height: 1.4em;
  font-style: italic;
}

.circle {
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 100%;
  position: relative;
  left: 50%;
  margin: 20px 0 40px -100px;
}

.circle a {
display: block;
width: 200px;
height: 200px;
}

.bodycopyfirst { 
  margin: 50px 0 50px 0;
} 

.left {
  position: fixed;
  left: -200px;
}

.right {
  position: fixed;
  left: 9999px;
}

/* I had to include #left00 at 0% opacity because without something in the first column the column would not render, and the text would jump to the left side of the screen.*/

#left00 {
  opacity: 0;
}

/*I used the circle with ID #left01 as an experiment to randomize the image. I didn't want to randomize ALL of the circles, because I did not want the chance of seeing multiple copies of any one image at once. We talked in class about the possibility of using if/then to avoid that. Rather than get into the complexity of that, another option I thought of would be to create arrays for each circle, with each array offering different image options. That way, any one specific circle could have a random selection of a small pool of images, creating more variety without the possibility of duplicates visible at once. It's not truly random, but gives a sense of randomness. Unfortunately, though the randomization of the images worked, I could not get the link to work -- either the image opened modal windows for all three possible images, one image (which might be the right or wrong one), or none. So I eliminated the randomization effect and made #left01 a static image again. I kept the unsuccessful attempts as a comment in the .js file in case I want to go back and explore it further.

#left01 {
  background-color: white;
}
*/

.object-donutphone {
  background: url('../images/object-donutphone-200.png');
}

.object-ericofon {
  background: url('../images/object-ericofon-200.png');
}

.object-teacup {
  background: url('../images/object-teacup-200.png');
}

.object-pickle {
  background: url('../images/object-pickle-200.png');
}

.object-juicysalif {
  background: url('../images/object-juicysalif-200.png');
}

.object-sweetie {
  background: url('../images/object-sweetie-200.png');
}

.object-lettera {
  background: url('../images/object-lettera-200.png');
}

.object-jfk {
  background: url('../images/object-jfk-200.png');
}

.object-readymade {
  background: url('../images/object-readymade-200.png');
}

.object-kodak {
  background: url('../images/object-kodak-200.png');
}

.object-praxis {
  background: url('../images/object-praxis-200.png');
}

.object-atari {
  background: url('../images/object-atari-200.png');
}


.popup {
  display: none;
  position: fixed;
  width: 35%;
  height: 80%;
  top: 6%;
  left: 3%;
  padding: 20px;
  background: white;
  border: 5px solid gray;
  border-radius: 20px;
  z-index: 999;
}

.windowclose {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 20px;
  width: 20px;
  background-image: url("../images/window-close-20.png");
}

.popup_img {
  height: 330px;
  width: 100%;
  background-repeat: no-repeat;
}

.popup_txt p {
  margin: 15px 0 10px 0;
  font-family: Calibri;
  font-size: 0.8em;
  line-height: 1.1em;
}

#popup-lettera-img {
  background: url('../images/object-lettera-350.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-atari-img {
  background: url('../images/object-atari-300.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-donutphone-img {
  background: url('../images/object-donutphone-350.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-jfk-img {
  background: url('../images/object-jfk-250.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-juicysalif-img {
  background: url('../images/object-juicysalif-250.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-pickle-img {
  background: url('../images/object-pickle-285.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-praxis-img {
  background: url('../images/object-praxis-350.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-readymade-img {
  background: url('../images/object-readymade-220.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-sweetie-img {
  background: url('../images/object-sweetie-300.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-teacup-img {
  background: url('../images/object-teacup-300.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-ericofon-img {
  background: url('../images/object-ericofon-350.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#popup-kodak-img {
  background: url('../images/object-kodak-350.jpg') center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}



.circlemobilewrapper {
  display: none;
}

.circlemobileblank {
  position: relative;
  opacity: 0;
  height: 1px;
}

.invisible {
  opacity: 0;
}

.title { 
  position: fixed;
  z-index: 998;
} 

.title a {
  display: block;
  width: 100%;
  height: 100%;
}


/* ----------------- Start Grid for full size ----------------- */

@media (min-width: 900px) {

  .container {
    overflow: hidden;
    position: relative;
    width: 100%; /* max width of content */
    margin: 0 auto;
  box-sizing: border-box; 
}

  .column, .columns {
    margin-left: 3%; /* column gutter */
    float: left;
    box-sizing: border-box;
    }    
  
  .column:first-child, .columns:first-child {
    margin-left: 0; } /* prevents first column from acquiring a gutter on its left */

  .one.column,
  .one.columns                    { width: 8.44%; }
  .two.columns                    { width: 19.88%; }
  .three.columns                  { width: 31.33%; }
  .four.columns                   { width: 42.77%; }
  .five.columns                   { width: 54.22%; }
  .six.columns                    { width: 65.66%; }
  .seven.columns                  { width: 77.11%; }
  .eight.columns                  { width: 88.55%; }
  .nine.columns                    { width: 100%; margin-left: 0; }

.title { 
  height: 50px;
  width: 300px;
  top: 50%;
  left: 42.77%;
  margin: -30px 0 0 -300px;
  background: url(../images/calling-collect-title-300x50-trans.png);
} 

}
/* ----------------- End Grid for full size ----------------- */

/* ----------------- Start Grid for medium break point ----------------- */

@media (min-width: 735px) and (max-width: 899px) {

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 50px 0 0;
  box-sizing: border-box; 
}

.column, .columns {
  width: 48.5%;
  margin-left: 3%; /* column gutter */
  float: left;
  box-sizing: border-box;
}
.column, .columns:nth-of-type(odd) {
  margin-left: 0;
}

.title { 
  height: 50px;
  width: 300px;
  top: 50%;
  left: 42.77%;
  margin: -30px 0 0 -300px;
  background: url(../images/calling-collect-title-300x50-trans.png);
} 

.bodycopy { 
  margin: 0 30px 0 0;
} 

.bodycopyfirst { 
  margin-top: 50px;
} 

blockquote {
  margin-left: 20px;
  margin-right: 20px;
}


}
/* ----------------- End Grid for medium break point ----------------- */

/* ----------------- Start Grid for small break point ----------------- */

@media (min-width: 550px) and (max-width: 734px) {

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 50px 0 0;
  box-sizing: border-box; 
}

#drop {
  display: none;
}

.column, .columns {
  width: 48.5%;
  margin-left: 3%; /* column gutter */
  float: left;
  box-sizing: border-box;
}
.column, .columns:nth-of-type(odd) {
  margin-left: 0;
}

.title { 
  height: 93px;
  width: 150px;
  top: 50%;
  left: 42.77%;
  margin: -48px 0 0 -150px;
  background: url(../images/calling-collect-title-150x93-trans.png);
} 

.bodycopy { 
  margin: 0 15px 0 0;
} 

.bodycopyfirst { 
  margin-top: 50px;
} 

blockquote {
  margin: 0 0 0 0;
}

.popup {
  width: 80%;
  height: 80%;
  top: 6%;
  left: 6%;
}


}
/* ----------------- End Grid for small break point ----------------- */

/* ----------------- Start Grid for mobile ----------------- */

@media (max-width: 549px) {

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; 
}

.circle {
  display: none;
}

.circlemobile {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  width: 150px;
  height: 150px;
  left: -150px;
  border-radius: 100%;
  margin: 15px 30px 5px 0;  
  background-size: 150px 150px;
}

.circlemobile2 {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  width: 150px;
  height: 150px;
  left: -150px;
  border-radius: 100%;
  margin: 15px 30px 5px 0;  
  background-size: 150px 150px;
}

.circlemobilewrapper {
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

#circlemobilewrapperfirst {
  margin-top: 15px;
}

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.title { 
  height: 50px;
  width: 300px;
  top: 30px;
  left: 50px;
  margin: 0;
  background: url(../images/calling-collect-title-300x50-trans.png);
} 

blockquote {
  margin: 0;
}

.bodycopy { 
  margin: 0 50px 0 50px;
} 

.bodycopyfirst { 
  margin: 100px 50px 0 50px;
} 

.popup {
  width: 80%;
  height: 80%;
  top: 6%;
  left: 6%;
}


}
/* ----------------- End Grid for mobile ----------------- */



/* Self Clearing Goodness: Fixes Issues with Float: Left; */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }